.register-page {
    min-height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


h2 {
  color: #5d3612;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.register-subtitle {
  color: #814900;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.input-group-custom {
    text-align: left;
    margin-bottom: 5px;
}

.input-group-custom label{
    display: block;
    color: #5d3612;
    font-weight: 600;
    font-size: 0.9rem;
}

.input-group-custom input::placeholder {
  color: rgba(93, 54, 18, 0.4);
  font-weight: 400;
}

.input-group-custom input {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(93, 54, 18, 0.3);
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.btn-register-submit {
    color: #fff;
    background: #ff8c00;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 15px;
    padding: 8px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-register-submit:hover {
    transform: scale(1.02);
    box-shadow: 
        0 0 5px #ff8c00,
        0 0 20px #ff8c00,
        0 0 40px #ffae42,
        0 0 60px rgba(255, 140, 0, 0.4);
}